html {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #212121;
  color: #f9f9f9;
}

.content {
  padding: 20px 50px 50px 50px;
}

th,
td {
  border-radius: 0.2em;
  padding: 1em;
  text-align: left;
}

tbody th {
  background-color: #2f2f2f;
  color: #b4b4b4;
  line-height: 0.1em;
}

tbody {
  background-color: #171717;
  color: #f9f9f9;
}

.navitem {
  flex: 1;
  height: 30px;
  background-color: #4a2a70;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

.navitem a {
  display: block;
  color: #f9f9f9;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
}

.navitem:hover {
  background-color: #ab68ff;
  cursor: pointer;
}

nav {
  display: flex;
  width: 100%;
  margin-top: -10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 80px;
  margin: 120px;
}

h2 {
  font-weight: 600;
  font-size: 26px;
  color: #7c51b1;
  width: 80%;
  margin: 60px auto 20px auto;
}

.property {
  font-family: monospace;
  color: #4788d3;
  font-weight: 600;
  width: 100px;
}

.values {
  color: #df3059;
  font-family: monospace;
  width: 200px;
}

table {
  margin-bottom: 50px;
  width: 80%;
  margin: auto;
}

.description {
  width: 500px;
}
